<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'push'">

      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="input-component-on">
            <span>Input Component (On)</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="input-component-off">
        <span>Input Component (Off)</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="output-component">
        <span>Output component</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="and-gate">
        <span>And Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="or-gate">
        <span>Or Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="not-gate">
        <span>Not Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="not-gate">
        <span>Not Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="xor-gate">
        <span>Xor Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="xnor-gate">
        <span>Xnor Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="nand-gate">
        <span>Nand Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="nor-gate">
        <span>Nor Gate</span>
      </div>
      <div class="drag-drawflow" draggable="true" (dragstart)="drag($event)" data-node="8-bit-display">
        <span>8 Bit Display</span>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <button style="position: absolute; z-index: -100; right: 50%;"id="drawer-toggle-button" mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>  
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
      </div>
      <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

      <div class="col-right">
        <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">
  
          <!-- <div class="btn-export" onclick="Swal.fire({ title: 'Export',
          html: '<pre><code>'+JSON.stringify(editor.export(), null,4)+'</code></pre>'
          })">Export</div>
          <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div> -->
          <div class="btn-lock">
            <!-- <i id="lock" class="fas fa-lock" (click)="editor.editor_mode='fixed'; changeMode('lock');"></i>
            <i id="unlock" class="fas fa-lock-open" (click)="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i> -->
          </div>
          <div class="bar-zoom">
            <i class="fas fa-search-minus" (click)="editor.zoom_out()"></i>
            <i class="fas fa-search" (click)="editor.zoom_reset()"></i>
            <i class="fas fa-search-plus" (click)="editor.zoom_in()"></i>
            <i class="fas fa-save" (click)="exportCurcuit()"></i>
          </div>
        </div>
      </div>

      
    </mat-drawer-content>
  </mat-drawer-container>]

  